<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cluster.mapper.CategoryMapper">
    <select id="getCategoryByName" resultType="com.cluster.enums.Category">
        select * from category where `name` = #{category}
    </select>
    <select id="getClusterCountByCategory" resultType="java.lang.Integer">
        select clusterCount from category where `name` = #{category}
    </select>
    <select id="getAllCategory" resultType="com.cluster.enums.Category">
        select * from category
    </select>

    <insert id="insert">
        insert into category values(null, #{category, jdbcType=VARCHAR}, 0)
    </insert>

    <update id="update">
        update category set `name` = #{category} where id = #{id}
    </update>

    <update id="updateCount">
        update category set clusterCount = #{count} where `name` = #{category}
    </update>

    <delete id="deleteById">
        delete from category where id = #{id}
    </delete>




</mapper>